@import './variables.scss';

.flex-default {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.top-banner {
	//display: flex;
	//justify-content: center;
	//align-items: flex-end;
	padding-top: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 430px;
	text-align: center;
}

.sFontSize50{
	font-size: 28px;
}
.sArrowBtnBox{
	background-color: rgba(118, 118, 118, 0.1);
	border: 1px solid #ffffff;
	width: 40px;
	height: 40px;

	&:hover, &:focus, &:active {
		border: 1px solid $orange;
	}
}

.sArrowBtnBox1{
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #ffffff;
	width: 40px;
	height: 40px;

	&:hover, &:focus, &:active {
		border: 1px solid $orange;
	}
}

$mdTopPx:200px;
$smTopPx:240px;
.sAboutPrevBtn{
	padding-top:4px;
	padding-left:4px;
	top:$mdTopPx;
}

.sAboutNextBtn{
	padding-top:4px;
	padding-left:6px;
	top:$mdTopPx;
}

.sServicePrevBtn{
	padding-top:4px;
	padding-left:4px;
	left:20px;
	top:240px;
}

.sServiceNextBtn{
	padding-top:4px;
	padding-left:6px;
	right:20px;
	top:240px;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

@media (max-width:986px){
	.sAboutPrevBtn{
		left:0px;
		top:$smTopPx;
	}

	.sAboutNextBtn{
		right:10px;
		top:$smTopPx;
	}
}